html { 
}
body { 
    margin: 0;
    padding: 0;
}
.react-tabs__tab-list{
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.board-left{
    border-right: 1px solid #eee;
    min-height: 500px;
    padding: 15px;
}
.board-left > div{
    border: 1px solid #eee;
    min-height: 500px;
}