html { 
}
body { 
    margin: 0;
    padding: 0;
}
.react-tabs__tab-list{
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.tab-container{
    /* width: 1400px;
    margin: auto; */
}
.tab-container h4{
    margin-top: 0;
    margin-bottom: 30px;
}
.board-left{
    border-right: 1px solid #c1c1c1;
    min-height: 800px;
    padding: 30px;
}

.board-left > div{
    border: 1px solid #eee;
    /* min-height: 800px; */
    background: #999
}
.board-left > div > img {
    width: 100%;
    /* max-height: 150px; */
}
.board-left .square{
    position:relative;
    display:inline-block;
    width: 50%
}
.board-right .square{
    display:inline-block;
    width: 50%;
    border: '1px solid #d1d1d1';
    min-height:200px;
}
.board-right .square~ul{
    display: inline-block;
    list-style : none;
}
.board-right .square~ul li {
    font-size: 22px;
    margin-bottom: 30px;
}
.board-right .square~ul label {
    padding-right: 25px;
    border-right: 1px solid #c1c1c1;
}
.board-right .square~ul span {
    padding-left: 25px;
}
.square .image-label{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 23px;
    padding-left: 10px;
}
.board-right{
    padding: 30px;
}
.type-row {
    border: 1px solid #c1c1c1;
    padding: 0;
}

.column1 {
    box-sizing: border-box;
    /* min-height: 150px; */
    background: #eee;
    padding: 0;
}
.column2 {
    box-sizing: border-box;
    /* min-height: 150px; */
    background: #ddd;
}
.column1 > span {
    display: inline-block;
    width: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
}
.column1 > div {
    display: inline-block;
    width: calc( 100% - 60px );
}
.column1 > div >img {
    width: 100%;
    max-height: 150px;
}

.table-wrapper{
    float: right;
    display: inline-block;
    width: 50%;
}

.table-wrapper tbody {
    font-size: 20px;
}
.table-wrapper td, .table-wrapper th {
    height: 50px;
    line-height : 50px;
    width: 50%
}
.c-container {
    width: 1300px;
    margin: auto;
    padding-top: 100px;
}

